/* ---------------------- */
/* General Styling */
/* ---------------------- */
/* All styles */
:root {
  --c-red: #ef476f;
  --c-yellow: #ffd166;
  --c-green: #06d6a0;
  --c-blue: #118ab2;
  --c-darkgray: #073b4c;
}

a {
  color: var(--c-blue) !important;
  font-weight: bold;
}
a:visited {
  color: var(--c-darkgray);
  opacity: 0.6;
  font-weight: normal;
}
a:hover {
  color: var(--c-yellow) !important;
  opacity: 0.6;
}

body {
  overflow: hidden;
}

/* Main page grid styling */
.main-row {
  height: 100vh;
}

.main-col {
  padding: 35px;
}

.side-container {
  width: 40vw;
  margin: 0 auto;
}

/* Shared Atomic styles */
.cursor-pointer {
  cursor: pointer;
}

/* Right side selector */
.right-side-selector {
  letter-spacing: 1px;
}

.right-side-selector .not-selected:hover {
  opacity: 1;
}

.right-side-selector .selected-side {
  font-weight: bold;
}

.right-side-selector .not-selected {
  opacity: 0.8;
}

/* ---------------------- */
/* Sides */
/* ---------------------- */
/* Default left side */
.default-left a {
  margin-right: 25px;
  width: fit-content;
}

.default-left .self-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: top;
}

.default-left .self-image {
  margin-bottom: 25px;
}

.default-left p {
  width: 80%;
}

/* Participation List */
.past-divider .divider {
  width: 48%;
  height: 2px;
  background: darkgray;
}

.past-divider .divider-text {
  margin: 0 5px 0 5px;
  color: darkgray;
  font-style: italic;
}

.participation-list .card-selection:hover {
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}

.participation-list .pill {
  width: fit-content;
  height: 40px;
  margin: 0 10px 10px 0px;
  border-radius: 15px;
  padding: 0px 15px 0px 15px;
  line-height: 38px;
  letter-spacing: 2px;
  cursor: pointer;
  background: var(--c-blue);
  color: white;
  opacity: 0.6;
  transition: 0.2s;
}

.participation-list .pill:hover {
  opacity: 1;
}

.participation-list .on-pill {
  opacity: 1;
}

.participation-list .text-pill {
  opacity: 0.4;
  margin: 10px 10px 0px 0px;
}
