/* ---------------------- */
/* General Styling */
/* ---------------------- */
/* Main page grid styling */
.main-row {
  height: 100vh;
}

.main-col {
  padding: 35px;
}

.side-container {
  width: 40vw;
  margin: 0 auto;
}

.right-col .float-container {
  height: 80vh;
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

/* Shared Atomic styles */
.cursor-pointer {
  cursor: pointer;
}

/* Right side selector */
.right-side-selector {
  letter-spacing: 1px;
}

.right-side-selector .not-selected:hover {
  opacity: 1;
}

.right-side-selector .selected-side {
  font-weight: bold;
}

.right-side-selector .not-selected {
  opacity: 0.8;
}

/* ---------------------- */
/* Sides */
/* ---------------------- */
/* Default left side */
.default-left a {
  margin-right: 25px;
  width: fit-content;
}

.default-left .self-image {
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: top;
}

/* Participation List */
.past-divider .divider {
  width: 48%;
  height: 2px;
  background: darkgray;
}

.past-divider .divider-text {
  margin: 0 5px 0 5px;
  color: darkgray;
  font-style: italic;
}
